<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.2//EN" "http://www.openmobilealliance.org/tech/DTD/xhtml-mobile12.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <style media="handheld" type="text/css"></style>
	<link rel="stylesheet" href="/static/css/common.css" />
    <title>{$_page_title|escape}</title>
    </head>
<body>
{include="$_content_template"}
</body>
</html>
